output/
locks/
outputs/
**/connection_info.html
**/dist/*
**/build/*
*.kube
*.ovpn
*__pycache__*
*-execute*.json
*-execute*.yaml
*_execution*.json
*_execution*.yaml
*.pyc
*.info
output.json
**/build/*
**/dist/*